<div class="sidebar sticky-top">        
    <div class="sidebar-section">
        <h5><span>Exclusive Deals Await <br> Join Now!</span></h5>
        {% include newsletter.html %}
    </div>

      <div class="sidebar-section">
    <h5><span>Get the Conjuga App Now!</span></h5>
<div class="slider">
  <div class="slides">
    <div class="slide">
      <a href="https://conjuga.app.link/VlkyCxUWOKb">
        <img src="{{site.baseurl}}/assets/images/ad.webp" alt="conjuga_screenshot_a" width="100%" height="auto">
        <!-- <img src="/assets/images/ad5.png" alt="conjuga_screenshot_e" width="100%" height="auto"> -->
      </a>
    </div>
    <div class="slide">
      <a href="https://conjuga.app.link/VlkyCxUWOKb">
        <img src="{{site.baseurl}}/assets/images/ad2.webp" alt="conjuga_screenshot_b" width="100%" height="auto">
      </a>
    </div>
    <div class="slide">
      <a href="https://conjuga.app.link/VlkyCxUWOKb">
        <img src="{{site.baseurl}}/assets/images/ad3.webp" alt="conjuga_screenshot_c" width="100%" height="auto">
      </a>
    </div>
    <div class="slide">
      <a href="https://conjuga.app.link/VlkyCxUWOKb">
        <img src="{{site.baseurl}}/assets/images/ad4.webp" alt="conjuga_screenshot_d" width="100%" height="auto">
      </a>
    </div>
    <div class="slide">
      <a href="https://conjuga.app.link/VlkyCxUWOKb">
        <img src="{{site.baseurl}}/assets/images/ad5.webp" alt="conjuga_screenshot_e" width="100%" height="auto">
      </a>
    </div>
  </div>
</div>
</div>