/* 
Don't want to use sass and simply modify the stylesheet in the old css fashion? 
Just customize your theme here.
================================================== */

body {}

/* Get the app button group */
.btn-dark {
    color: #fff;
    background-color: #01336d;
    border-color: #fff;
}


.hero {
    background: #feb791;
    padding: 5rem 5rem;
}


.sidebar #mc_embed_signup .button {
    width: 100% !important;
    background: #02326d !important;
    height: auto;
    padding: 6px 20px;
    font-weight: 600;
}



/* To fit on mobile device */

/* Hero section styles */
.hero {
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  padding: 2rem;

}

.hero h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}

/* Button styles */
.hero .btn {
  padding: 0.75rem 2.5rem;
  font-size: 1.125rem;
}

/* Image styles */
.hero img {
  max-width: 100%;
  height: auto;
}

/* Responsive styles */
@media (max-width: 767px) {
  .hero .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }

  .hero img {
    display: none;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .hero .btn {
    width: 100%;
    padding: 0.75rem 0;
  }
}



/* 404 Page Styling */
.text-center.newerror {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-center.newerror h1 {
  font-family: 'Arial', sans-serif;
}

.text-center.newerror p {
  font-family: 'Arial', sans-serif;
}

.text-center.newerror a {
  color: #007bff;
  text-decoration: underline;
}

.text-center.newerror a:hover {
  color: #0056b3;
  text-decoration: none;
}

/* MailChimp Signup Form */
#mc_embed_signup{
  background:#fff; clear:left; 
}


.sidebar #mc_embed_signup h2 {
    font-weight: 400;
    font-size: 15px;
    color: black;
    margin-bottom: 1rem;
    line-height: 1.5;
    text-align: center;
}

/*
Sidebar Latest Posts
================================================== */
.sidebar .sidebar-section .list-unstyled .media-body h6 {
    font-size: 0.9rem;
    font-weight: 600;
}

.sidebar .sidebar-section .list-unstyled .media-body h6 a {
    color: #333;
    text-decoration: none;
}

.sidebar .sidebar-section .list-unstyled .media-body h6 a:hover {
    color: #007bff;
    text-decoration: underline;
}

.sidebar .sidebar-section .list-unstyled .media-body small {
    font-size: 0.8rem;
}

.sidebar .sidebar-section .list-unstyled .flex-shrink-0 img {
    transition: transform 0.2s ease-in-out;
}

.sidebar .sidebar-section .list-unstyled .flex-shrink-0 img:hover {
    transform: scale(1.05);
}

/*
Sidebar App Ad
================================================== */
.sidebar .app-ad-section {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.app-ad-link,
.app-ad-link:hover {
  display: block;
  text-decoration: none;
  color: inherit;
}